<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Employee</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/employees">Home Page</a></li>
            <li><a href="/create">Add Staffs</a></li>
        </ul>
    </nav>
    <h1>Add a new employee</h1>
    <form action="/employees" method="post">
        <div>
            <label for="name">Name:</label><br>
            <input type="text" placeholder="type your name" id="name" required  name="name"><br>
        </div>

        <div>
            <label for="age">Age:</label><br>
            <input type="number" placeholder="type your age" id="age" required name="age"><br>
        </div>

        <div>
            <label for="role">Role:</label><br>
            <input type="text" placeholder="type your role" id="role" required name="role"><br>
        </div>

        <div><button type="submit">Submit</button></div>
    </form>
</body>
</html>